<!DOCTYPE html>
<html>
  <head><link rel="stylesheet" href="select.css"></head>
<body>
<h1>Are you a teacher or student?? </h1>
<form method='GET' action='/student_register' id="form">
 
  <button value="submit" name="button" id="button">student</button> 

</form> 
<form method='GET' action='/teacher_register' id="form">
 
    <button value="submit" name="button" id="button">teacher</button> 
  
  </form> 

</body>
</html>